@media only screen and (min-width: 700px) {

  body {
    display: flex;
    flex-direction: column;
    
    margin: 3vw;
    padding: 0;
    min-height: 100%;
    
    background-color: rgb(0, 100, 0);
    background-image: url("images/bg.jpg");
    overscroll-behavior-x: none;
    /* overscroll-behavior-x: none; */
    overflow-y:hidden;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    /* font-family: 'Corben', cursive; */
  }
  /* header */
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 94vw
  }
  header div.title{
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
  }
  header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 30vw;
  }
  header nav a{
    
  }
  /* page 1 */
  section.container.titlepage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 90vh;
  }
  div.image img{
    max-width: 40vw;
    
  }
}  