body {
    min-height: 100vh;
    background-color: rgb(18, 47, 90);
    overscroll-behavior-x: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: ivory;
    width: 80%;
    margin: 0 auto 0 auto;
}


/* ======================== 
   =========header========= 
   ======================== */

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.empty {
    height: 5vh;
}

header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    border-bottom: thin solid ivory;
}

.main {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 3vh;
}

footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

.post {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5%;
    padding: 2vw;
    margin: 1vh 0 1vh 0;
}

.post h3,
h5,
p {
    margin: 1vh 0 1vh 0;
}

.posts {
    overflow-y: scroll;
}


/* h2,
h3,
h4,
h5,
p {
    margin: 0 5%;
} */

.create__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5vh;
    bottom: 5vh;
    right: auto;
    left: auto;
    height: auto;
    min-width: 70vw;
    width: auto;
    z-index: 10;
    background-color: rgb(17, 25, 68);
    border-radius: 0 0 5vw 5vw;
    padding: 5vw;
    /* display: none;
    position: fixed;
    top: 0;
    right: 4vw;
    height: auto;
    margin-top: 9vh;
    z-index: 6;
    max-width: 25vw;
    background-color: rgba(40, 40, 40, 0.9);
     */
}