body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0;
    min-height: 100%;
    /* grey color for neutrality */
    background-color: #222;
    overscroll-behavior-x: none;
    /* overflow-y: hidden; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Corben', cursive;
    color: ivory;
}


/* title */

header {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 6vw;
    padding-right: 6vw;
    min-width: 88vw;
    height: 10vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #222;
    position: fixed;
    z-index: 5;
    border-bottom: thin solid antiquewhite;
    border-color: antiquewhite;
}

div.title {
    width: 44vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.title h1 {
    font-size: 2.5vw;
    line-height: 2.5vw;
}

div.title img {
    width: 3vw;
    height: auto;
}


/* main */

section.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 86vh;
    margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
    padding: 2vw;
}


/* filter */

div.filter {
    width: 44vw;
    /* height: 10vh; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5vh;
    /* overflow-y: scroll; */
}

div.button {
    cursor: pointer;
    margin: 0px;
}

div.button p {
    line-height: 5vh;
}

div.dropdown {
    background-color: rgba(250, 235, 215, 0.4);
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    /* padding-bottom: 2%; */
    /* overflow-y: scroll; */
}

div.dropdown a {
    border-bottom: thin solid black;
    text-decoration: none;
    color: #222;
    padding-left: 45%;
    padding-right: 45%;
}

div.add_col {
    display: flex;
    align-self: center;
    /* justify-self: flex-start; */
}


/* colors */

div.circles {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}