body {
    margin: 5vh;
    padding: 0;
    min-height: 98vh;
    min-width: 98vw;
    /*  */
    background-color: rgb(32, 52, 150, 0.7);
    overscroll-behavior-x: none;
    /* overscroll-behavior-y: none; */
    /*  */
    background-size: cover;
    background-attachment: fixed;
    /*  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*  */
    color: rgb(197, 228, 255);
    display: flex;
    flex-direction: column;
}

html.a-fullscreen body {
    height: 90vh;
    margin: 5vh;
    overflow: hidden;
    padding: 0;
    width: 95vw;
}

.container {
    position: fixed;
    top: 0;
    margin: 0vh;
    width: 95vw;
    height: 90vh;
}

.canvas {
    /* display: none; */
}

.button_VR {
    height: 5vh;
    padding: 1vh;
    border-radius: 2.5vh;
    background-color: rgb(32, 52, 150, 0.7);
    color: aliceblue;
}

.exit_VR {
    position: fixed;
    top: 5vh;
    left: 5vh;
}