/* ===================================
   ============ body/main ============
   =================================== */

body {
    background: radial-gradient(#222, #222);
    margin: 0px;
    /* overflow: hidden; */
    overscroll-behavior: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    color: antiquewhite;
    margin: 3vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* ===================================
   ============= header ==============
   =================================== */

header {
    padding-left: 4vw;
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #222;
    position: fixed;
    top: 0;
    z-index: 5;
    min-height: 10vh;
    min-width: 100%;
}

header div.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20vw;
}

header div.title h1 {
    font-size: 3.5vw;
}

header div.title h1,
p {
    margin: 2%;
    line-height: 1;
}


/* ===================================
   ============= Section =============
   =================================== */

section.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;
    min-height: 84vh;
    min-width: 94vw;
}


/* ===================================
   ========== Section1 map ===========
   =================================== */


/* ===================================
   ============= MAP SVG =============
   =================================== */

#map {
    height: 70vh;
    width: 70vw;
    z-index: 4;
}


/* ===================================
   ========== Section1 map ===========
   =================================== */